################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/GestionRDV/bin/Debug/net8.0
/GestionRDV/obj
